<template>
    <div>
        <div class="BackupShow-status">
            <div>Status: <span v-html="showStatus(backup.finished)"></span></div>
            <div>Started: {{ backup.created_at | timeAgo }}</div>
            <hr>
            <div>Backup stats:</div>
            <br>
            <div id="crawl-progress" class="progress">
                <div id="crawl-progress-crawled" class="progress-bar progress-bar-success" v-bind:style="{width: backup.related.urls.data.percent_crawled + '%'}">
                    <span id="url-crawled-percent">{{ backup.related.urls.data.percent_crawled }}%</span>
                </div>
                <div id="crawl-progress-not-crawled" class="progress-bar progress-bar-warning" v-bind:style="{width: backup.related.urls.data.percent_not_crawled + '%'}">
                    <span id="url-not-crawled-percent">{{ backup.related.urls.data.percent_not_crawled }}%</span>
                </div>
            </div>
            <div>
                <span class="label label-success">&nbsp; &nbsp;</span> crawled
            </div>
            <div>
                <span class="label label-warning">&nbsp; &nbsp;</span> not crawled yet
            </div>
            
            <br>
            <br>
            
            <div id="upload-progress" class="progress">
                <div id="crawl-progress-crawled" class="progress-bar progress-bar-primary" v-bind:style="{width: backup.related.urls.data.percent_uploaded + '%'}">
                    <span id="url-crawled-percent">{{ backup.related.urls.data.percent_uploaded }}%</span>
                </div>
                <div id="crawl-progress-not-crawled" class="progress-bar progress-bar-warning" v-bind:style="{width: backup.related.urls.data.percent_not_uploaded + '%'}">
                    <span id="url-not-crawled-percent">{{ backup.related.urls.data.percent_not_uploaded }}%</span>
                </div>
            </div>
            <div>
                <span class="label label-primary">&nbsp; &nbsp;</span> uploaded
            </div>
            <div>
                <span class="label label-warning">&nbsp; &nbsp;</span> not uploaded yet
            </div>
            <hr>
            <div>
                <a v-bind:href="downloadBackupResourceUrl(backup.id)" class="btn btn-success"><i class="fa fa-btn fa-download"></i>  Download {{ backup.resource_type }}s</a>
                <button v-on:click="stopBackup(backup.id)" v-if="!backup.finished" class="btn btn-danger"><i class="fa fa-btn fa-stop-circle"></i> Stop backup</button>
                <small class="help-block">Once a backup is stopped, it cannot be restarted.</small>
            </div>
            <hr>
            <p><a class="btn btn-primary" v-bind:href="UserBackupsPageUrl"><i class="fa fa-btn fa-arrow-left"></i> My backups</a></p>
        </div>
        <div class="BackupShow-urls">
            <form id="main" v-cloak>

                <div class="bar">
                    <!-- Create a binding between the searchString model and the text field -->
                    <input type="text" v-model="searchString" placeholder="Enter your search terms" />
                </div>
            </form>
            <table id="dataTable" class="datatable table table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="hidden-xs">URL</th>
                        <th>Crawled</th>
                        <th>Uploaded</th>
                        <td>Type</td>
                        <td>Snippet</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="urls in filteredUrls">
                        <td class="hidden-xs">{{ urls.name }}</td>
                        <td v-html="showStatus(urls.crawled)"></td>
                        <td v-html="showStatus(urls.uploaded)"></td>
                        <td class="fm_file"><i class="fa fa-file" style="font-size:18px;color:red">{{ urls.url_type }}</i></td>
                        <td><img style="max-width: 60px" :src="urls.image_data" /></td>
                        <td>
                            <a  class="btn btn-action btn-xs btn-primary" title="Backup Site"><i class="fa fa-cloud-upload"></i></a>
                            <a  class="btn btn-action btn-xs btn-danger" title="Delete backup"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
   //  $('.fm_file').each(function(){
   //     var name=$(this).find('i').html();
   //   $(this).find('i').addClass('fa '+name).html('');
   // });
   import {filterBy, reverse, findBy, showStatus} from '../filter.js'

   export default {
    data() {
        return {
            searchString: "",
            backup: {
                related: {
                    urls: {
                        data: {
                            total: 0,
                            crawled: 0
                        }
                    },
                    resources: {
                        data: {
                            total: 0,
                            crawled: 0
                        }
                    }
                },
                urls: {

                }
            },
            urls: {

            },                
            interval: null
        };
    },
    computed: {
        UserBackupsPageUrl: function() {
            return baseUrl + '/backups';
        },
        orderedBackups: function () {
            return _.orderBy(this.urls, 'name')
        },
        filteredUrls: function () {
            var urls_array = this.urls,
            searchString = this.searchString;

            if(!searchString){
                return urls_array;
            }

            searchString = searchString.trim().toLowerCase();

            urls_array = urls_array.filter(function(item){
                if(item.name.indexOf(searchString) !== -1){
                    return item;
                }
            })

            /* Return an array with the filtered data.*/
            return urls_array;;
        }
    },
    methods: {
        showStatus: showStatus,

        getBackupEveryTenSecond: function () {
            this.interval = setInterval(function () {
                this.getBackup(searchId);
            }.bind(this), 10000);
        },
        getBackup: function (searchId) {
            this.$http.get(apiUrl + '/users/' + userId + '/backups/' + searchId).then(function (response) {
                console.log(response.data.urls);
                this.backup = response.data;
                this.urls = response.data.urls;
                 if (this.backup.finished) { 
                         clearInterval(this.interval); 
                     } 
                }, function (response) {
                     clearInterval(this.interval); 
                    console.log(response);
                });
        },
        downloadBackupResourceUrl: function (backupId) {
            return baseUrl + '/backups/' + backupId + '/resources';
        },
        stopBackup: function (backupId) {
            this.$http.patch(apiUrl + '/users/' + userId + '/backups/' + backupId, {finished: true}).then(function (response) {
            }, function (response) {
            });
        }
    },
    filters: {
    },
    mounted() {
        this.getBackup(searchId);
        this.getBackupEveryTenSecond();
    }
};
</script>

<style>

</style>