<template>
    <div>
        <backup-actions-buttons></backup-actions-buttons>
        <hr>
        <table id="dataTable" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th class="hidden-xs">Type</th>
                    <th>Entry point</th>
                    <th>Remote URL</th>
                    <th class="hidden-xs">Started</th>
                    <th>Version</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="backup in orderedBackups">
                    <td class="hidden-xs">{{ backup.resource_type | capitalize }}</td>
                    <td>{{ backup.entrypoint_url }}</td>
                    <td>{{ backup.remote_url }}</td>
                    <td>{{ backup.version }}</td>
                    <td class="hidden-xs">{{ backup.created_at | timeAgo }}</td>
                    <td v-html="showStatus(backup.finished)"></td>
                    <td>
                        <a v-bind:href="backupUrl(backup.id)" class="btn btn-action btn-xs btn-primary" title="Backup Site"><i class="fa fa-cloud-upload"></i></a>
                        <a v-on:click.stop="deleteSearch(backup.id)" class="btn btn-action btn-xs btn-danger" title="Delete backup"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import BackupActionsButtons from './BackupActionsButtons.vue';
    import {filterBy, reverse, findBy, showStatus} from '../filter.js'

    export default {
        data() {
            return {
                backups: []
            };
        },
        methods: {
            showStatus: showStatus,
            
            getUserBackups: function () {
                this.$http.get(apiUrl + '/users/' + userId + '/backups').then(function (response) {
                    this.$root.backups = response.data.backups;
                    this.backups = response.data.backups;
                }, function (response) {
                    console.log(response);
                });
            },
            getUserBackupsEveryFiveSeconds: function () {
                this.interval = setInterval(function () {
                    this.getUserBackups();
                    if (this.backups.length > 0) {
                        var backupsActive = false;
                        for (var i = 0; i < this.backups.length; i++) {
                            if (this.backups[i]['finished'] === false) {
                                backupsActive = true;
                            }
                        }
                        if (backupsActive === false) {
                            clearInterval(this.interval);
                        }
                    } else {
                        clearInterval(this.interval);
                    }
                }.bind(this), 5000);
            },
            deleteSearch: function (backupId) {
                if (confirm('Are you shure you want to delete this backup?')) {
                    this.$http.delete(apiUrl + '/users/' + userId + '/backups/' + backupId).then(function () {
                        this.getUserSearches();
                    }, function (response) {
                        console.log(response);
                    });

                    return true;
                }

                return false;
            },
            backupUrl: function (backupId) {
                return baseUrl + '/backups/' + backupId;
            },
            downloadSearchResourcesUrl: function (backupId) {
                return baseUrl + '/backups/' + backupId + '/resources';
            }
        },
        computed: {
            orderedBackups: function () {
                return _.orderBy(this.backups, 'name')
            },
          },
        mounted() {
            this.getUserBackups();
            this.getUserBackupsEveryFiveSeconds();
        },
        components: {
            BackupActionsButtons
        },
        filters: {
            capitalize: function (value) {
              if (!value) return ''
              value = value.toString()
              return value.charAt(0).toUpperCase() + value.slice(1)
            },
          },

    };
</script>

<style>
    @media screen and (max-width: 991px) {
        .btn-action {
            margin-bottom: 3px;
        }
    }
</style>