<template>
<div>
    <a v-bind:href="createBackupUrl" class="btn btn-action btn-primary"><i class="fa fa-btn fa-plus"></i> Start a new backup</a>
</div>
</template>

<script>
    export default {
        computed: {
            createBackupUrl: function () {
                return baseUrl + '/searches/create';
            },
        },
        methods: {
            deleteAllSearches: function () {
                if (confirm('Are you shure you want to delete all your searches?')) {
                    this.$http.delete(apiUrl + '/users/' + userId + '/searches').then(function () {
                        this.$parent.getUserSearches();
                    }, function (response) {
                        console.log(response);
                    });

                    return true;
                }

                return false;
            }
        }
    };
</script>

<style>

</style>