<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div>User Id: {{ user.id }}</div>
                <div>User Email: {{ user.email }}</div>
                <div>User IP: {{ user.last_login_ip }}</div>
                <div>User Join: {{ user.created_at }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: user
            };
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
