<template>
    <div>
        <search-actions-buttons></search-actions-buttons>
        <hr>
        <table id="dataTable" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th class="hidden-xs">Type</th>
                    <th>Entry point</th>
                    <th class="hidden-xs">Started</th>
                    <th>Status</th>
                    <th class="hidden-xs">Urls</th>
                    <th class="hidden-xs">Found</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="search in orderedSearches">
                    <td class="hidden-xs">{{ search.resource_type | capitalize }}</td>
                    <td>{{ search.entrypoint_url }}</td>
                    <td class="hidden-xs">{{ search.created_at | timeAgo }}</td>
                    <td v-html="showStatus(search.finished)"></td>
                    <td class="hidden-xs">{{ search.related.urls.data.total | formatInteger }}</td>
                    <td class="hidden-xs">{{ search.related.resources.data.total | formatInteger }}</td>
                    <td>
                        <a v-bind:href="viewSearchUrl(search.id)" class="btn btn-action btn-xs btn-primary" title="View search"><i class="fa fa-arrow-right"></i></a>
                        <a v-bind:href="backupUrl(search.id)" class="btn btn-action btn-xs btn-primary" title="Backup Site"><i class="fa fa-cloud-upload"></i></a>
                        <a v-bind:href="downloadSearchResourcesUrl(search.id)" class="btn btn-action btn-xs btn-success" :title="search.resource_type"><i class="fa fa-download"></i></a>
                        <a v-on:click.stop="deleteSearch(search.id)" class="btn btn-action btn-xs btn-danger" title="Delete search"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import SearchActionsButtons from './SearchActionsButtons.vue';
    import {filterBy, reverse, findBy, showStatus} from '../filter.js'

    export default {
        data() {
            return {
                searches: []
            };
        },
        methods: {
            showStatus: showStatus,
            
            getUserSearches: function () {
                this.$http.get(apiUrl + '/users/' + userId + '/searches').then(function (response) {
                    this.$root.searches = response.data.searches;
                    this.searches = response.data.searches;
                }, function (response) {
                    console.log(response);
                });
            },
            getUserSearchesEveryFiveSeconds: function () {
                this.interval = setInterval(function () {
                    this.getUserSearches();
                    if (this.searches.length > 0) {
                        var searchesActive = false;
                        for (var i = 0; i < this.searches.length; i++) {
                            if (this.searches[i]['finished'] === false) {
                                searchesActive = true;
                            }
                        }
                        if (searchesActive === false) {
                            clearInterval(this.interval);
                        }
                    } else {
                        clearInterval(this.interval);
                    }
                }.bind(this), 5000);
            },
            deleteSearch: function (searchId) {
                if (confirm('Are you shure you want to delete this search?')) {
                    this.$http.delete(apiUrl + '/users/' + userId + '/searches/' + searchId).then(function () {
                        this.getUserSearches();
                    }, function (response) {
                        console.log(response);
                    });

                    return true;
                }

                return false;
            },
            viewSearchUrl: function (searchId) {
                return baseUrl + '/searches/' + searchId;
            },
            backupUrl: function (searchId) {
                return baseUrl + '/backups/' + searchId;
            },
            downloadSearchResourcesUrl: function (searchId) {
                return baseUrl + '/searches/' + searchId + '/resources';
            }
        },
        computed: {
            orderedSearches: function () {
                console.log(this);
                return _.orderBy(this.searches, 'name')
            },
          },
        mounted() {
            this.getUserSearches();
            this.getUserSearchesEveryFiveSeconds();
        },
        components: {
            SearchActionsButtons
        },
        filters: {
            capitalize: function (value) {
              if (!value) return ''
              value = value.toString()
              return value.charAt(0).toUpperCase() + value.slice(1)
            },
            showStatus (val) {
              if (val === false) {
                    return('<i class="fa fa-spinner fa-spin"></i><span class="hidden-xs"> Running</span>');
                }
                return('<i class="fa fa-check"></i><span class="hidden-xs"> Finished</span>');
            }
          },

    };
</script>

<style>
    @media screen and (max-width: 991px) {
        .btn-action {
            margin-bottom: 3px;
        }
    }
</style>