<template>
    <div>
        <form-wizard @on-complete="onComplete" @on-loading="setLoading" @on-validate="handleValidation" @on-error="handleErrorMessage" shape="circle"  color="gray"  error-color="#e74c3c">
            <tab-content title="Personal details" :before-change="validateAsync" icon="ti-user"> 
                <label for="entrypoint">Entry point url</label>
                <div class="input-group">
                    <input v-model="entrypoint" type="url" class="form-control" name="entrypoint" id="entrypoint" placeholder="http://...">
                </div>
            </tab-content>
            <tab-content title="Additional Info" icon="ti-settings">
                <div class="form-group">
                    <label>Resource type to find</label>
                    <br>
                    <label class="radio-inline" for="email-radio">
                        <input v-model="type" type="radio" name="type" id="email-radio" value="email" checked> Emails
                    </label>
                </div>
            </tab-content>
            <tab-content title="Last step"icon="ti-check">
                Third tab
            </tab-content>

            <div class="loader" v-if="loadingWizard"></div>
            <div v-if="errorMsg">
                <span class="error">{{errorMsg}}</span>
            </div>
        </form-wizard>
    </div>
</template>

<script>
    import {FormWizard, TabContent} from 'vue-form-wizard'
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'

    export default {

        components: {
            FormWizard,
            TabContent
        },
        data: function () {
            return {
                entrypoint: '',
                type: '1',
                loadingWizard: false,
                errorMsg: null,
                count: 0
            };
        },
        onComplete: function(){
            alert('Yay. Done!');
        },
        setLoading: function(value) {
            this.loadingWizard = value
        },
        handleValidation: function(isValid, tabIndex){
            console.log('Tab: '+tabIndex+ ' valid: '+isValid)
        },
        handleErrorMessage: function(errorMsg){
            this.errorMsg = errorMsg
        },
        beforeTabSwitch: function(){
            alert("This is called before switchind tabs")
            return true;
        },
        validateAsync:function() {
            return new Promise((resolve, reject) => {
                setTimeout(() => {
                    if(this.count < 1){
                        this.count ++
                        reject('This is a custom validation error message. Click next again to get rid of the validation')
                    }else{
                        this.count = 0
                        resolve(true)
                    }   
                }, 1000)
            })
        },
        computed: {
            searchesIndexUrl: function () {
                return baseUrl + '/searches';
            }
        },
        methods: {
            onComplete: function(){
                alert('Yay. Done!');
            },
            setLoading: function(value) {
                this.loadingWizard = value
            },
            handleValidation: function(isValid, tabIndex){
                console.log('Tab: '+tabIndex+ ' valid: '+isValid)
            },
            handleErrorMessage: function(errorMsg){
                this.errorMsg = errorMsg
            },
            validateAsync:function() {
                return new Promise((resolve, reject) => {
                    setTimeout(() => {
                        if(this.count < 1){
                            this.count ++
                            reject('This is a custom validation error message. Click next again to get rid of the validation')
                        }else{
                            this.count = 0
                            resolve(true)
                        }   
                    }, 1000)
                })
            },
            onComplete: function() {
                alert('Yay. Done!');
                var request = {
                    entrypoint: this.entrypoint,
                    type: this.type
                };

                this.$http.post(baseUrl + '/searches', request).then(function () {
                    console.log(response);
                }, function (response) {
                    console.log(response);
                });

                window.location = baseUrl + '/searches';
            },
            validateFirstStep() {
                return new Promise((resolve, reject) => {
                    this.$refs.ruleForm.validate((valid) => {
                        resolve(valid);
                    });
                })

            },
            // createSearch: function () {
            //     var request = {
            //         entrypoint: this.entrypoint,
            //         type: this.type
            //     };

            //     this.$http.post(baseUrl + '/searches', request).then(function () {
            //         console.log(response);
            //     }, function (response) {
            //         console.log(response);
            //     });

            //     window.location = baseUrl + '/searches';
            // }
        }
    };
</script>

<style>

</style>