<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div>Setting Id: {{ settings[0].id }}</div>
                <div>Setting Backup Id: {{ settings[0].backup_id }}</div>
                <div>Setting Active: {{ settings[0].active }}</div>
                <div>Setting Maintance Message: {{ settings[0].maintenance_message }}</div>
                <div>Setting Maintance mode: {{ settings[0].maintenance_mode }}</div>
                <div>Setting Created: {{ settings[0].created_at }}</div>
                <div>Setting Updated: {{ settings[0].updated_at }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                settings: settings
            };
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
